@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
/*font-family: 'Slabo 27px', serif;*/
.CreatedTask {
    background-color: rgb(96, 157, 96);
    padding: 0px;
    width: 150px;
    height: 154px;
    overflow: scroll; 
    margin:7px;
    border:1px solid rgb(9, 91, 18);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: inline-block;
    position: relative;
}
.CreatedTask:hover {
    background-color: rgb(116, 187, 116);
}
.CreatedTask h2,h1,p {
    font-family: 'Slabo 27px', serif;
    margin: 3px;
    color: white;
}
.CreatedTask h1 {
    font-size: 22px;
    background-color: rgb(101, 103, 103);
    margin: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.CreatedTask h2 {
    font-size: 16px;
    background-color: rgb(164, 164, 164);
}
.CreatedTask h2:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.CreatedTask p {
    color:white;
    

}
.CreatedTask span {
    font-size: 23px;
    font-style: bold;
    font-weight: bolder;
}
.x {
    background-color:white;
    position: absolute;
    right: 5px;
    top: 3px;
    line-height: 20px;
    border-radius: 40%;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
    cursor: pointer;
}
.x:hover {
    background-color: salmon;
    color: white;
}
::-webkit-scrollbar { 
    display: none; 
}
.width {
    width: 150px;
    margin: 0px;
    padding: 0px;
}