.App {
  text-align: center;
  min-width: 968px;
}
.addButton {
  padding: 10px;
  background-color: darkgreen;
  color: white;
  font-size: 24px;
  display: block;
  text-align: center;
  line-height: 24px;
  margin:15px auto;
  margin-bottom: 0px;
  cursor: pointer;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.addButton:hover {
  background-color:green;
  box-shadow: 0px 3px 10px gray;

}
.red {
  background-color: rgb(173, 6, 6);
}
.red:hover {
  background-color:red;
}


